body {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 90%;
    font-weight: 100;
    font-family: 'Karla';
    position: absolute;
    display: block;
}

.update {
    position: fixed;
    margin-left: 45%;
    margin-top: -2%;
}
.login {
    border-style: ridge;
    border-color: grey;
    width: 70px;
    line-height: 40px;
    font-size: 15pt;
    font-family: tahoma;
    margin-right: 0;
    top: 0;
    left: 106%;
    position:absolute;
    font-size: 20px;
    color: rgb(116, 116, 106);
    margin-top: 10px;
}
.homepage {
    border-style: ridge;
    border-color: grey;
    line-height: 40px;
    font-size: 15pt;
    margin-left: 20%;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 70px;
    position: static;
}

.table {
    text-align: center;
    margin-left: 550px;
    margin-top: 20px;
}
