
body {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 90%;
    font-weight: 100;
    font-family: 'Karla';
    position: absolute;
    display: block;
}
.h1 {
    text-align: center;
    margin-top: 10%;
    margin-left: 200px;
}
.log {
    border-style: ridge;
    border-color: grey;
    width: 70px;
    line-height: 40px;
    font-size: 15pt;
    font-family: tahoma;
    margin-right: 0;
    top: 0;
    left: 106%;
    position:absolute;
    font-size: 20px;
    color: rgb(116, 116, 106);
    margin-top: 10px;
}
input[type="text"] {
    margin-top: 0 ;
    margin-bottom: 0;
    font-size: 25px;
    border-style: outset;
    border-color: aquamarine;
    table-layout: fixed;
}
input[type="number"] {
    margin-top: 0 ;
    margin-bottom: 0;
    font-size: 25px;
    border-style: outset;
    border-color: aquamarine;
    table-layout: fixed;
}

button[type = "submit"] {
    background-color: lightgoldenrodyellow;
    border-color: green;
    margin-left: 200px;
    color: black;
    height: 30px;
    width: 150px;
    margin-top: 50px;
}

.button2 {
    width: 0;
    display: block;
    position: fixed;
    top:45%;
    left: 36%;
    margin-top: 0px;
}
.check {
    display: block;
    position: fixed;
    top: 46%;
    margin-left: 36%;
    margin-top: -150px;
}
.succesful {
    margin-left:33%;
    width: 200px;
    color: darkslategray;
    margin-top: -10%;
    position: absolute;
}
.home{
    border-style: ridge;
    border-color: grey;
    line-height: 40px;
    font-size: 15pt;
    height: 40px;
    margin-left: 20px;
    margin-top: 10px;
    width: 70px;
    position: static;
}